{% extends "base.html" %}
{% block content %}
    {% load i18n %}
    {% load staticfiles %}
    {% if auth_url %}
        <a href="{{ auth_url }}"><img src="{% static "django_strava/images/ConnectWithStrava.png" %}"
                                      alt="connect with strava"/></a>
    {% endif %}
    {% if athlete %}
        <h3>{% trans "User Profile." %}</h3>
        <table id="athlete-table">
            <tr>
                <td class="athlete-headline" colspan="2">{%  trans "User Details" %}</td>
            </tr>
            <tr>
                <td class="athlete-img"><img src="{{ athlete.profile }}"</td>
                <td class="athlete-name">{{ athlete.firstname }}&nbsp{{ athlete.lastname }}</td>
            </tr>
            <tr>
                <td class="athlete-headline" colspan="2">{%  trans "User Friends" %}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {%  for club in athlete.clubs %}
                        <p>{{ club.name }}</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}